@import 'variables'

html 
    scroll-behavior: auto !important
    body
        background-color: $backgroundColor
        height: 100vh
        overflow: hidden

        .mainContent
            height: 100vh
            overflow-y: auto

    .themeBackground
        background-color: $contractorsGarageOrange

    .gunMetalText
        color: $gunMetalGrey

    .gunMetalBackground
        background-color: $gunMetalGrey

    .lightTheme
        .Toolbar
            background-color: lighten($gunMetalGrey, 20)
            color: white
            a:hover:not(.activeNavText)
                color: lightgrey
            .activeNavText
                color: $contractorsGarageOrange
        .themeText
            color: $contractorsGarageOrange
        .cardFooterBackground
            background-color: lighten($gunMetalGrey, 60)
        .editDetailCard

    .darkTheme